@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@font-face {
  font-family: 'SUIT-Light';
  src: url('/fonts/SUIT/SUIT-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('/fonts/SUIT/SUIT-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SUIT-Medium';
  src: url('/fonts/SUIT/SUIT-Medium.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'SUIT-Bold';
  src: url('/fonts/SUIT/SUIT-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'SUIT-Heavy';
  src: url('/fonts/SUIT/SUIT-Heavy.ttf') format('ttf');
  font-style: normal;
  font-weight: 900;
}
